<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>Travel Planner</h1>

    <main>
      <form>
        <div>
          <p class="text-l">My trip to:</p>
          <input
            id="location"
            class="text-l input"
            type="text"
            placeholder="Delhi, India"
          />
        </div>
        <div>
          <p class="text-l">Departing:</p>
          <input id="date" class="text-l input" type="date" />
        </div>
        <button type="submit" id="save" class="text-m button-save">
          submit
        </button>
      </form>

      <div id="trips-placeholder"></div>
    </main>

    
  </body>
</html>
